@model Web_ecomerce2.Model.LoginModel
@{
    ViewBag.Title = "LogIn";
}
<h2 style="margin-top:200px ; margin-left:350px">ĐĂNG NHẬP</h2><br />
@using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 style=" margin-left:250px">VUI LÒNG ĐIỀN VÀO THÔNG TIN ĐỂ ĐĂNG NHẬP.</h4><br />
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" style=" margin-left:300px">
        @Html.LabelFor(m => m.userName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.userName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.userName, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group" style=" margin-left:300px">
        @Html.LabelFor(m => m.passWord, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.passWord, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.passWord, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>*@
    <br />
    <div class="form-group" style=" margin-left:350px">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Đăng nhập" class="btn btn-default" />
            <a> @Html.ActionLink("Đăng Ký", "Register", "user")</a>
        </div>
    </div>
    <br />
    if (ViewBag.ErrorMessage != null)
    {
        <div style=" margin-left:250px">
            <span style="color:red">
                @ViewBag.ErrorMessage<br />
                <a style=" margin-left:110px"> @Html.ActionLink("Đăng Ký", "Register", "user")</a> 
            </span>
        </div>

    }

    @* Enable this once you have account confirmation enabled for password reset functionality
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>*@
}

